## Описание колонок

`Rank` - Общий рейтинг продаж

`Name` - Название игры

`Platform` - Платформа, на которой выпущена игра (например, PC, PS4 и т.д.)

`Year` - Год выпуска игры

`Genre` - Жанр игры

`Publisher` - Издатель игры

`NA_Sales` - Продажи в Северной Америке (в миллионах)

`EU_Sales` - Продажи в Европе (в миллионах)

`JP_Sales` - Продажи в Японии (в миллионах)

`Other_Sales` - Продажи в остальном мире (в миллионах)

`Global_Sales` - Общемировые продажи.

In [1]:
import pandas as pd

# загрузите датасет
df = pd.read_csv('../resources/datasets/vgsales.csv')  # ваш код здесь

# после того датасет корректно загрузился, можно посмотреть на данные глазами
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### Дальше идут вопросы по датасету, на которые нужно найти ответ используя функционал библиотеки Pandas.

вопрос 1: Найдите количество уникальных игр в датасете.

*note*: обратите внимание на функции unique, nunique в Pandas

оригинал - https://pandas.pydata.org/docs/reference/api/pandas.unique.html

на русском - https://runebook.dev/ru/docs/pandas/reference/api/pandas.unique

In [3]:
# ваш код здесь
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

вопрос 2: Какова общая величина продаж игр в Японии?

In [2]:
# ваш код здесь

вопрос 3: Какие три жанра игр самые популярные в Северной Америке (по количеству продаж)?

In [3]:
# ваш код здесь

вопрос 4: Какая платформа была самой популярной (по количеству выпущенных игр) в 2000 году? А в 2015?

In [4]:
# ваш код здесь

вопрос 5: Какой издатель выпустил больше всего игр в период 2012-2015 оба конца включительно?

In [5]:
# ваш код здесь

вопрос 6: Какой процент игр в жанре спорт был продан в Европе?

In [ ]:
# ваш код здесь